/* Base Style */
body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  /* 바디 안에서 사용한 요소의 경우에만 */
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 16px;
}

body {
  font: inherit;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
  background-color: #fff;
}

/* 유연한 미디어 */
img {
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

.news__videoContainer {
  width: auto;
}
/* 가로가 100%일 때 세로는 56.25% */
/* 9 / 16 = 0.5625 */

/* 반응형 iframe */
.iframeWrapper {
  background-color: blueviolet;
  position: relative;
}

.iframeRatio-16-9 {
  aspect-ratio: 16 / 9;
}
.iframeRatio-21-9 {
  aspect-ratio: 21 / 9;
}
.iframeRatio-4-3 {
  aspect-ratio: 4 / 3;
}

.iframeWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
