* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.group1 {
  background-color: gold;
}
.group2 {
  background-color: pink;
}
.group3 {
  background-color: lightgreen;
}
.group4 {
  background-color: skyblue;
}
.group5 {
  background-color: salmon;
}
.group6 {
  background-color: violet;
}
.group7 {
  background-color: aquamarine;
}
.group8 {
  background-color: lightseagreen;
}
.group9 {
  background-color: mediumpurple;
}
.group10 {
  background-color: midnightblue;
}
.group11 {
  background-color: olive;
}
.group12 {
  background-color: sandybrown;
}

/* 공통 레이아웃 */
.container {
  border: 2px solid black;
  margin: 50px;
  display: grid;
  gap: 24px;
  grid-template-rows: repeat(3, 200px);
}

.group1 {
  grid-area: box1;
}
.group2 {
  grid-area: box2;
}
.group3 {
  grid-area: box3;
}
.group4 {
  grid-area: box4;
}
.group5 {
  grid-area: box5;
}

/* 모바일 레이아웃 */
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'box2 box2'
      'box1 box3'
      'box4 box5';
  }
}

/* 데스크탑 레이아웃 */
@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      'box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2'
      'box1 box1 box1 box1 box4 box4 box4 box4 box4 box5 box5 box5'
      'box1 box1 box1 box1 . box3 box3 box3 box3 box3 box3 box3';
  }
}
